.mainpagesRightSideAddTask {
  display: flex;
  flex-direction: column;
}

.mainMainpagesAddTask {
  display: flex;
  flex-direction: column;
  max-height: 928px;
  overflow-x: auto;
}

.mainMainpagesAddTask form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputTagsAddTask {
  display: flex;
  gap: 48px;
  align-items: flex-start;
}

.inputTagsAddTaskAddTask {
  min-height: 570px;
}

.formElementAddTask {
  display: flex;
  flex-direction: column;
}

.paddingLeftAddTask {
  padding-left: 16px;
}

.paddingRightAddTask {
  padding-right: 16px;
}

.widthFormElementsAddTask {
  width: 440px;
}

.heightFormElementsAddTask {
  height: 48px;
}

.borderFormElementsAddTask {
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
}

.buttonAddTaskPage {
  height: 56px;
}

.colorRed {
  color: rgba(255, 129, 144, 1);
}

.borderRed {
  border-color: #ff8190;
}

.formPointDescription {
  margin-bottom: 8px;
}

.requiredMessage {
  margin-top: 4px;
  visibility: hidden;
  height: 12px;
  color: #ff8190;
  font-size: 12px;
}

.formAddTask {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  font-size: 20px;
}

.formAddTask input {
  font-size: 20px;
}

.formAddTask input::placeholder,
.formAddTask textarea::placeholder {
  color: rgba(209, 209, 209, 1);
  font-size: 20px;
}

.inputTagAddTaskFocus:focus {
  border: 1px solid #29abe2;
  outline: #29abe2;
}

.hidden {
  transform: scaleY(0);
}

/*lower area add task*/
.lowerAreaAddTask {
  display: flex;
  justify-content: space-between;
  max-width: 978px;
  align-items: flex-end;
  margin-bottom: 71px;
}

.lowerAreaAddTaskButtons {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  justify-content: flex-end;
}

.lowerAreaAddTaskButtons button,
.lowerAreaAddTaskButtons a {
  border-radius: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.buttonCancel {
  gap: 10.76px;
  font-size: 20px;
}

.button:hover .svgCancelX {
  fill: #29abe2;
  transition: 100ms ease-in-out;
}

.buttonCreateTask {
  gap: 8.26px;
  font-size: 21px;
  font-weight: 700;
}

@media (max-width: 1310px) {

  .mainMainpagesAddTask {
    margin-bottom: 48px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 56px;
    overflow-x: auto;
  }

  .lowerAreaAddTaskNecessity {
    width: fit-content;
  }

  .h1AddTask{
    margin-left: 32px;
  }

  .formAddTaskAddTask{
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 1230px) {
  .addTaskFormLeft{
    width: 100%;
  }

  .addTaskFormRight{
    width: 100%;
  }

  .verticalLineAddTask{
    display: none;
  }

  .inputTagsAddTask{
    flex-direction: column;
    width: 100%;
  }

  .widthFormElementsAddTask{
    width: 100%;
  }

  .lowerAreaAddTask{
    padding: 32px 24px 0 24px;
    align-items: center;
  }

  .mainMainpagesAddTask{
    max-height: unset;
  }
  .lowerAreaAddTaskNecessity{
    transition: all;
    justify-content: center;
  }
}

@media (max-width: 1170px){
  .h1AddTask{
    margin-left: 64px;
  }

  .formAddTaskAddTask{
    margin-left: 64px;
    margin-right: 64px;
  }
}

@media (max-width: 820px){
  .lowerAreaAddTask{
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 730px){
  .lowerAreaAddTaskNecessityAddTask {
    font-size: 14px;
  }

  .lowerAreaAddTaskAddTask{
    margin-bottom: 0;
  }

  .leftButton{
    display: none !important;
  }
}

@media (max-width: 600px) {
  .mainMainpagesAddTask {
    padding-top: 16px;
    /*padding-inline: 4vw;*/
  }

  .widthFormElementsAddTask {
    /*width: 90vw;*/
    /*padding: 8px;*/
  }

  .addTaskPrioButtonsAddTask{
    padding-right: 0;
    padding-left: 2px;
  }

  .addTaskPrioButtonsAddTask button{
    width: 121px;
  }
}

@media (max-width: 550px){
  .h1AddTask{
    margin-left: 32px;
  }

  .formAddTaskAddTask{
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 520px){
  .addTaskPrioButtonsAddTask button{
    font-size: 18px !important;
    height: 41px;
  }

}

@media (max-width: 500px){
  .h1AddTask{
    margin-left: 8px;
  }

  .formAddTaskAddTask{
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 410px){
  .addTaskPrioButtonsAddTask{
    gap: 8px !important;
  }

  .addTaskPrioButtonsAddTask button{
    font-size: 16px !important;
  }

  .addTaskPrioButtonsAddTask img{
    width: 18px;
  }
}

@media (max-width: 390px){
  .lowerAreaAddTaskAddTask{
    flex-direction: column-reverse;
    gap: 24px;
  }
}

@media (max-width: 350px){
  .h1AddTask{
    margin-left: 0;
  }

  .formAddTaskAddTask{
    margin-left: 0;
    margin-right: 0;
  }
}


/*task added notice*/

.noticeTaskAddedAddTask{
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 45;
  transition: bottom 0.3s ease;
}

#overlayBackgroundTransparentAddTask.show #noticeTaskAddedAddTask {
  bottom: 50%;
}
