.inputTagsAddTask{
    display: flex;
}

.widthFormElementsAddTask{
    width: 440px;
}

.heightFormElementsAddTask{
    height: 48px;
}

.borderFormElementsAddTask{
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
}

.buttonAddTaskPage{
    height: 56px;
}

.colorRed{
    color: rgba(255, 129, 144, 1);
}

.formPointDescription{
    margin-bottom: 8px;
}

.addTaksFormLeft{
    display: flex;
    flex-direction: column;
}

#addTaskTitle{
    padding-left: 21px;
}

.paddingLeftAddTask{
    padding-left: 16px;
}

.formAddTask{
    display: inline-block;
    margin-top: 48px;
    font-size: 20px;
}

.formAddTask input::placeholder,
.formAddTask textarea::placeholder {
  color: rgba(209, 209, 209, 1);
  font-size: 20px;
}

.formAddTask input{
    padding-top: 5px;
}


/*.formAddTask label{
    font-size: 20px;
}*/

.dropdown {
    position: relative;
    display: inline-block;
}

.buttonSelectContacts {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}

.dropdown-content label {
    display: block;
    margin-bottom: 5px;
}

.dropdown-content label input {
    margin-right: 5px;
}

.dropdown.active .dropdown-content {
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
}

.arrow.down {
    border-top: 5px solid #000;
}

.arrow.up {
    border-bottom: 5px solid #000;
}

 .coloredCircleInitials{
    background-color: blue;
    border-radius: 50%;
    height: 25px;
    width: 25px;
 }

 .dropdown-content label input[type="checkbox"],
 .dropdown-content label .coloredCircleInitials {
    display: inline-block;
    vertical-align: middle;
}

.addTaksFormRight{
    display: flex;
    flex-direction: column;
}

#addTaskCategory{
    padding-left: 13px;
}

/*#addTaskSubtasks{
    background-image: url(../assets/img/);
}

#addTaskSubtasks::placeholder*/

.divAddTaskSubtasks{
    position: relative;
    display: inline-block;
}

.circlePlusAddTaskSubtasks {
    position: absolute;
    top: 50%;
    right: 8px; /* Passen Sie den Abstand nach Bedarf an */
    transform: translateY(-50%);
    font-size: 20px; /* Passen Sie die Schriftgröße nach Bedarf an */
    color: black;
    cursor: pointer;
    border-radius: 50%;
}

.circlePlusAddTaskSubtasks:hover{
    background-color: rgba(238, 238, 238, 1);
}

/*.divAddTaskSubtasks::after {
    content: attr(data-add);
    position: absolute;
    right: 8px;
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%);
    color: black;
}*/

/*lower area add task*/
.lowerAreaAddTask{
    display: flex;
    height: 273px;
    justify-content: space-between;
}

.lowerAreaAddTaskNecessity{
    padding-top: 175px;
}

.lowerAreaAddTaskButtons{
    padding-top: 138px;
}