@media(max-width: 1400px){
    
    header{
        width: calc(100vw- 323px) !important;
    }

    .headlineBoardStatusTasks{
        padding-left: 3vmax;
    }

    .mobileMenu a{
        color: white !important;
        padding: 1vmax !important;
        border-radius: 10px !important;
    }

    .mobileDiv{
        display: flex;
        flex-direction: column;
    }

    .mobileIcon{
        height: 40px;
    }
    } 

    @media(max-width: 1170px){
        .headlineStatusTasks{
            width: auto;
            gap: 16px;
        }
        
        .headlineBoardStatusTasks{
        flex-direction: column;
        align-items: normal;
        overflow-y: scroll;
        padding-bottom: 24px;
        padding-left: 16px;
        }

        .noTasksExisting{
            max-width: 250px;
        }

        .tasks{
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            height: fit-content;
        }

        .h5StatusTask{
            flex: none;
        }

        .miniCard{
            min-width: 280px !important;
        }
}

@media(max-width: 1170px){
    .inputTagsAddTask{
        flex-direction: column;
        align-items: center !important;
    }

    .overlayAddTask{
        padding-inline: 2vmin;
        height: 83svh;
        margin-bottom: 69px;
        margin-inline: 80px;
    }

    .widthFormElementsAddTask{
        width: 72vw !important;
    }

    .lowerAreaAddTask{
        align-items: flex-start !important;
        
    }
    .lowerAreaAddTask{
        position: fixed;
        bottom: -70px;
        width: 100%;
        padding-right: 28px;
    }

    /* .lowerAreaAddTaskButtons{
        padding-left: clamp(2vmin, 5vw, 62vmin);
    } */

    .scroll-container {
        height: 90%;
        overflow-y: auto;
    }
    
    .scroll-container::-webkit-scrollbar {
        width: 6px;
    }
    
    .scroll-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    .scroll-container::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    .scroll-container::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

}

@media(max-width: 880px){
    .boardHeadline{
        flex-direction: column;
        padding-left: 32px;
    }

    .h1Board{
        margin-bottom: 40px;
    }

    .boardHeadlineActions{
        justify-content: flex-start;
    }
}

@media(max-width: 763px){


    .titleBigCard{
        font-size: 8vmin;
    }

    .bigCardData{
        padding: 0 0 0 20px !important;
    }

    .overlayAddTask{
        border-radius: 0;
        width: 100%;
        margin-inline: 0;
    }

    .widthFormElementsAddTask{
        width: 92vw !important;
    }

    .noTasksExisting{
        max-width: 800px;
    }

    .h5StatusTask{
        flex: 1;
    }

}

@media(max-width: 580px){
    .boardHeadline{
        padding-left: 24px;
    }

}