
.mainBoard{
    padding-top: 79.5px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 96px);
}

/*headline*/
.boardHeadline{
    width: 1056px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
}

.boardHeadlineActions{
    display: flex;
    gap: 32px;
    align-items: center;
}

.findTask{
    display: flex;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    width: 312px;
    height: 48px;
    align-items: center;
}

.findTask:hover{
    cursor: pointer;
}

#inputFindTask{
    flex: 1;
    border-style: none;
    border-radius: 10px;
    padding-left: 16px;
    font-size: 20px;
    width: 100%;
}

#inputFindTask:focus{
    outline: none;
}

.verticalLineBoardFindTask{
    width: 1px;
    height: 31px;
    background-color: #D1D1D1;
}

.magnifyingGlass{
    width: 32px;
    height: 32px;
    margin: 0 16px;
    border-radius: 50%;
}

.magnifyingGlass:hover{
    background-color: #EEEEEE;
}

.magnifyingGlass:active path {
    fill: #29ABE2;
}

.buttonAddTask{
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    gap: 4px;
}

/*tasks*/
.boardTasks{
    display: flex;
    align-items: flex-start;
    gap: 26px;
    overflow: auto;
    flex-grow: 1;
    padding-bottom: 16px;
    padding-top: 15.5px;
    padding-left: 16px;
    padding-right: 16px;
}

.headlineBoardStatusTasks{
    display: flex;
    align-items: flex-start;
    gap: 26px;
    padding-left: 16px;
    padding-right: 16px;
}

.headlineStatusTasks{
    display: flex;
    width: 252px;
}

.h5StatusTask{
    flex: 1;
    color: #42526E;
}

.headlineStatusTasks svg:hover{
    cursor: pointer;
}

.headlineStatusTasks svg:hover path,
.headlineStatusTasks svg:hover rect{
    stroke: #29ABE2;
}

.headlineStatusTasks svg:active path,
.headlineStatusTasks svg:active rect{
    stroke: #091931;
    transition: stroke 300ms ease-out;
}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 252px;
}

.noTasksExisting{
    width: 100%;
    height: 48px;
    background-color: #E7E7E7;
    color: #A8A8A8;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
}

/* drag and drop optik vielleicht */
.drag-area {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px dashed black;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

/*add task overlay*/
.overlayAddTask {
    background-color: white;
    width: 1116px;
    height: 870px;
    padding-top: 64px;
    padding-left: 74px;
    padding-right: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    position: fixed;
    inset: 0;
    margin: auto;
    animation-name: addOverlay;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.overlayAddTask.removing {
    animation-name: removeOverlay;
}

@keyframes removeOverlay {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100vw, 0);
    }
}

.headlineAddTaskOverlay{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.addTaskOverlayCloseButton{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTaskOverlayCloseButton:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}


#addTaskOnBoardDescription{
    padding-top: 18px;
    background-image: url('../assets/img/resize.svg'); /* Pfad zur benutzerdefinierten Grafik */
    background-repeat: no-repeat;
    background-position: calc(100% - 6.1px) calc(100% - 6.1px); /* Position der benutzerdefinierten Grafik */
    padding-bottom: 25.1px; /* Platz für die benutzerdefinierte Grafik (19px + 6.1px Abstand) */
    padding-right: 25.1px; /* Platz für die benutzerdefinierte Grafik (19px + 6.1px Abstand) */
    height: 120px;
    font-size: 20px;
}

#addTaskOnBoardDescription::-webkit-resizer {
    display: none;
}

/*mini Card*/

.miniCard{
    background-color: white;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px #00000014;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.miniCard:hover{
    cursor: pointer;
}

.category{
    border-radius: 8px;
    color: white;
    font-size: 16px;
    padding: 4px 16px;
    width: fit-content;
}

.textMiniCard{
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    position: relative;
}

.textMiniCard::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 10px; /* Abstand zwischen dem Text und den Punkten */
    background: white; /* Hintergrundfarbe anpassen, um den Text zu überdecken */
}

.description{
    color: #A8A8A8;
}

.progressInfos{
    display: flex;
    gap: 11px;
    align-items: center;
}

.progressBar{
    width: 100%;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 8px;
    flex: 1;
    margin-top: 1px;
}
  
.progress{
    height: 100%;
    background-color: #4589FF;
    border-radius: 8px;
    width: 0%;
}

.progressInNumbers{
    font-size: 12px;
}

.miniCardGraphically{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.initialsMiniCardGraphically{
    display: flex;
}

.initialsMiniCard{
    border-radius: 50%;
    color: white;
    height: 32px;
    width: 32px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -8px;
}

.prioImgMiniCard{
    width: 17px;
}

/*big card*/
.overlayCard{
    background-color: white;
    width: 525px;
    min-height: fit-content;
    max-height: 930px;
    padding: 48px 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #00000029;
    position: fixed;
    inset: 0;
    margin: auto;
    animation-name: addOverlay;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    
    font-size: 20px;
}

.overlayBigCard {
    gap: 24px;
}

.overlayBigCard.removing {
    animation-name: removeOverlay;
}

.firstLineBigCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryBigCard{
    color: white;
    font-size: 23px;
    padding: 4px 24px;
    border-radius: 8px;
}

.bigCardCloseButton{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigCardCloseButton:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}

.middleLineTableBigCard{
    height: 24px;
}

.firstColumn{
    width: 117px;
    color: #2A3647;
}

.priorityBigCard{
    display: flex;
    align-items: center;
    gap: 10px;
}

.assignedToBigCard > span{

    color: #2A3647;
}

#assignedToBigCardUsers{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 15px;
    margin-left: 16px;
}

.userBigCard{
    display: flex;
    align-items: center;
    gap: 16px;
}

.initialsUserBigCard{
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.subtasksBigCard > span{
    color: #2A3647;
}

#subtasksBigCardChecklist{
    margin-top: 14.5px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.subtaskBidCard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 10px;
}

.subtaskBidCard:hover{
    background-color: #EEEEEE;
    cursor: pointer;
}

.subtaskBidCard:hover .checkbox+label {
    background: url('../assets/img/checkboxDisabledHover.svg') no-repeat;
}
  
.subtaskBidCard:hover .checkbox:checked+label {
    background: url('../assets/img/checkboxCheckedHover.svg') no-repeat;
}

.editAndDeleteBigCard{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    gap: 8px;
}

.editAndDeleteBigCard > div{
    display: flex;
    align-items: center;
    gap: 11px;
}

.editAndDeleteBigCard > div:hover{
    font-weight: 700;
    color: #29ABE2;
    cursor: pointer;
}

.editAndDeleteBigCard > div:hover path{
    fill: #29ABE2;
}

.verticalLineEditAndDeleteBigCard{
    height: 24px;
    width: 1px;
    background-color: #D1D1D1;
}

.editAndDeleteBigCard svg{
    width: 18.28px;
    height: 18.25px;
    margin-left: 3px;
}

/*edit task*/
.overlayEditTask{
    padding-left: 0;
    padding-right: 18.68px;
    animation: none;
}

.firstLineOverlayCard{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.formEditTask{
    margin-top: 28px !important;
    margin-bottom: 24px;
}

.inputTagsEditTask{
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 24px !important;
    max-height: 693px;
}

.formPointEditTaskHeadline{
    color: #42526E;
}

.formEditTaskUpperArea{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 40px;
}

.formEditTaskLowerArea{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.editTaskHeadlinePrio{
    padding-left: 40px;
    font-weight: 700;
    font-size: 19px;
}

.buttonUrgentEditTask{
    margin-left: 40px;
}

.formEditTaskLowerArea > div:nth-child(n+2){
    padding-left: 40px;
}

.lowerAreaEditTask{
    display: flex;
    justify-content: flex-end;
}

.editTaskPrioButtons{
    width: auto !important;
}

.dropdownContactsEditTask{
   right: 18.5px !important; 
}


.buttonOkEditTask{
    border-radius: 10px;
    height: 57px;
    width: 89px;
    font-size: 21px;
    font-weight: 700;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hookOkEditTask{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}















