.mainContact {
  padding: 40px 0 0 100px;
}

.addButton img {
  vertical-align: text-bottom;
  height: 20px;
}

.addButton {
  margin: 25px;
  padding: 25px;
  border-radius: 8px;
  width: 352px;
}

.contactSide{
  text-align-last: center;
}

.indexContainer {
  padding: 16px;
}

.line {
  height: 1px;
  width: 320px;
  margin: 8px 0;
  background-color: #d1d1d1;
}
.contactInput {
  padding-left: 32px;
  height: 85%;
  overflow: scroll;
  background-color: #ffffff;
}

.contactContainer {
  padding: 16px;
  margin-right: 19px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contactContainer:hover {
  background-color: #80808040;
}

.contactContainer:active {
  background-color: #2a3647;
  color: white;
}

.userContainer{
  max-width: 300px;
}

.contactSlide {
  border-radius: 16px;
  background-color: white;
  position: absolute;
  top: 20vh;
  margin-inline: 8vmax;
  animation-fill-mode: forwards;
}

.circle {
  flex-shrink: 0;
  display: flex;
  vertical-align: middle;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: 3px solid #FFFFFF;
  color: white;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.bgColorCircle {
  background-color: coral;
}

.initial {
  width: 21px;
  text-align: center;
}

.contactDetailContainer{
  position: relative;
    display: flex;
    left: 500px;
    flex-direction: column;
}

.bigCircle{
  background-color: coral;
  border-radius: 50%;
  border: 4px solid white;
  min-width: 120px;
  height: 120px;
  color: white;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  color: white;
  background-color: #2a3647;
  height: 494px;
  min-width: max-content;
  font-size: 85%;
  border-radius: 16px 0 0 16px;
  align-content: center;
  padding: 30px;
  box-sizing: border-box;
}

.middel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 35px;
}

.slideBack {
  position: absolute;
  top: 20px;
  align-self: self-end;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideBack:hover {
  content: url(../assets/img/closeHover.svg);
  padding: 0;
}

.middel {
  position: relative;
}

.image-container {
  border-radius: 50%;
    background-color: #cdcdcd;
    padding: 26px;
  }

.ellipse {
    border: solid 3px white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), 
                0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  
.border-radius{
  border-radius: 50%;
}
.person {
  margin: 30px;
  color: white;
  font-size: xx-large;
  text-align: center;
  width: 50px;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
}

.inputbox {
  width: 100%;
  height: 48px;
  border: 2px solid #80808040;
  border-radius: 10px;
  font-size: 15px;
  padding: 6px;
  margin-right: 15px;
  margin-bottom: 16px;
  color: #80808040;
  display: flex;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.input {
  width: 422px;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  padding: 12px 21px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.personInput {
  background-image: url(../assets/img/person.svg);
}

.mail {
  background-image: url(../assets/img/mail.svg);
}

.phone {
  background-image: url(../assets/img/phone.svg);
}

.email{
  color: #29ABE2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttonFilled {
  transition: all 175ms ease-in-out;
  font-weight: 700;
  font-size: 21px;
  border-radius: 8px;
  height: 55px;
  text-align: center;
  padding: 12px;
}

.buttonEmpty {
  font-weight: 700;
  font-size: 21px;
  border-radius: 8px;
  height: 55px;
  cursor: pointer;
  margin-right: 16px;
}

.button {
  margin-top: 16px;
}

.closeX {
  content: url("../assets/img/closeS.svg");
  padding-inline: 6px;
}
.button:hover .closeX {
  content: url("../assets/img/closeBlueX.svg");
}

.contacts {
  height: calc(100vh - 96px);
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
}

.contactSlideIn {
  animation: contactSlideIn 1s ease-in-out;
}

.positionContainerBox.active {
  display: block;
}

.backArrow, .mobileEdit{
  display: none;
}

.displayFlex{
  display: flex;
  align-items: center;
}


.positionContactBox {
  width: fit-content;
  position: sticky;
  left: 700px;
}

.userContainerBig{
  padding: 28px;
  margin-top: 8px;
}

.userContactBig{
  margin-top: 40px;
}

.userContactBig P{
  font-size: large;
  margin: 0 0 32px 0;
}

.userContactBig h6{
  margin: 15px 0 15px 0;
}

.contactBox {
  display: flex;
  align-items: center;
}

.contactBox h2{
  font-size: xxx-large;
}

.blueLineContacts {
  background-color: #29abe2;
  width: 1px;
  height: 50px;
  margin: auto 0.75rem;
  border-radius: 2px;
}

.blueLineAddContacts{
  background-color: #29abe2;
  width: 70px;
  height: 2px;
  margin: 8px 0 0 0;
  border-radius: 2px;
}

.nameBig{
  font-size: xx-large;
    font-weight: 600;
}

.editDelete {
  display: flex;
  align-items: center;
  gap: 16px;
}

.edit{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/img/edit.svg);
  cursor: pointer;
}

.edit:hover{
  background-repeat: no-repeat;
  background-image: url(../assets/img/editBlue.svg);
}

.edit p {
  padding-left: 34px;
}

.edit p:hover{
  color: #29abe2;
}

.delete{
  background-size: contain;  
  background-repeat: no-repeat;
  background-image: url(../assets/img/delete.svg);
  cursor: pointer;
}

.delete p {
  padding-left: 32px;
}
.delete p:hover{

  color: #29abe2;
}
.delete:hover {
  background-repeat: no-repeat;
  background-image: url(../assets/img/deleteBlue.svg);
}