.sectionPageOneLogInSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
  }

.h1PageOneLogInSignUp{
    text-align: center;
  }
  
.h1PageOneLogInSignUp::after {
    content: "";
    background-color: #29abe2;
    width: 5rem;
    height: 0.2rem;
    display: block;
    margin: 0.75rem auto;
  }

.inputPageOneLogInSignUp:focus~label,
.inputPageOneLogInSignUp:valid~label {
    top: -5px;
  }

.aPageOneLogInSignUp{
    color: #A8A8A8;
  }
  
  
.aPageOneLogInSignUp:hover{
    color: #29ABE2;
    font-weight: bold;
  }
  
.paPageOneLogInSignUp {
    margin-inline: 10px;
  }

.start-logo {
  position: absolute;
  left: 35%;
  top: 35%;
  animation: moveAndResize 1s ease-in-out forwards;
  animation-delay: 0.3s;
  background: url(/assets/img/favicon_dark.svg) no-repeat;
  background-size: 300px;
  height: -webkit-fill-available; 
}

@keyframes moveAndResize {
  0% {
    left: 35%;
    top: 35%;
    z-index: 1;
  }

  100% {
    left: 70px;
    top: 70px;
    background-size: 100px;
    background-position: 0 0;
    z-index: 0;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.form-box {
  position: relative;
  width: 400px;
  padding: 30px 0px 30px 0px;
  background: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes startDelay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.formBoxLogIn{
  height: 493px;
  opacity: 0;
  animation: startDelay .5s ease-in-out forwards;
  animation-delay: .7s;
}

.formBoxSignUp{
  height: 630px;
}

.inputbox {
  width: 100%;
  height: 48px;
  border: 2px solid #80808040;
  border-radius: 6px;
  font-size: 15px;
  padding: 6px;
  margin: 15px;
  color: #80808040;
  display: flex; /* um das icon rechts zu halten */
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}


.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

.person {
  background-image: url(/assets/img/person.svg);
}

.mail {
  background-image: url(/assets/img/mail.svg);
}

.lock {
  background-image: url(/assets/img/lock.svg);
}

.lock:active,
.lock:focus {
  background-image: url(/assets/img/visibilityoff.svg);
}

.visbility {
  background-image: url(/assets/img/visibility.svg);
}

.visibility-icon img{
  position: absolute;
  right: 56px;
  opacity: 0;
}

.input::placeholder {
  color: #D1D1D1;
  background-size: contain;
  margin-right: 20px;
}

.alert {
  content: "Bitte akzeptieren Sie zuerst die Nutzungsbedingungen"; /* Text, der angezeigt wird */
  position: absolute;
  bottom: 107px;
  color: #FE818F;
  left: 82px;
  font-size: xx-small;
}

.position {
  position: relative;
  left: 44px;
}


/* checkbox + text*/

.checkboxText {
  display: flex;
  font-size: smaller;
  align-items: flex-end;
  margin: 21px -11px;
}

.button:disabled {
  cursor: not-allowed; 
  background-color: gray; 
}

.button:disabled::after {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.signUp {
  position: absolute;
  right: 40px;
  top: 70px;
  display: flex;
  align-items: center;
}

footer {
  font-size: smaller;
  text-align: center;
}

.underline {
  margin: 0;
  font-size: unset;
}

.underline:hover {
  text-decoration: underline;
  font-weight: 100;
}

.signupMaskBG{
  position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
}

.signupMask {
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
    z-index: 1000;
    width: 400px;
    padding: 24px;
    line-height: 1.5715;
  }