@media (max-width: 1000px) {

    .logo{
    position: absolute;
        height: 80px;
        left: 20px;
        top: 20px;
    } 
    }

@media (max-width: 700px){
  .formBoxLogIn{
    height: 493px;
    width: -webkit-fill-available;
    margin: 100px 20px 82px 20px;
  }
}
    
    @media (max-width: 600px) {
    
      .inputbox{
        width: 71vw;
      }
    
      .signUp{
        transition: right 0.75s ease, top 0.75s ease, font-size 0.75s ease;
        top: 82svh;
      }
    
      .buttonOnIndexToSignUp{
        border-radius: 8px;
        font-weight: bold;
        text-align: center;
      }
    }
    
    @media (max-width: 550px){
    
      .inputbox{
        height: 48px;
        color: #80808040;
        display: flex;
      }
      .buttonsLogIn{
        gap: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .buttonsLogIn button{
        width: 177px;
      }
    
      footer{
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
      }
    
    }

    @media (max-width: 350px){
      .signUp{
        gap: 10px;
      }
    }

    @media (max-height: 850px){
      .form-valueSignUp{
        height: unset;
      }

      .formBoxSignUp{
        height: calc(670px - 140px - 0px);
        margin: 120px 0px 0px 0px;
      }
    }

    @media (max-height: 680px){
      .h1PageOneLogInSignUp {
        margin-top: unset;
        margin-bottom: unset;
      }

      .formBoxLogIn{
        height: 50%;
        overflow-x: scroll;
        align-self: center;
      }

      .checkboxTextLogIn, .checkboxText, .position{
        margin: 0;
      }

      .formLogIn, .formSignUp{
        gap: 20px;
      }

      .h1PageOneLogInSignUp::after{
        margin: auto;
      }

      .sectionPageOneLogInSignUp{
        align-items: unset;
      }

      .formBoxSignUp{
        height: calc(480px - 100px - 0px);;
        height: 420px;
      }
    }