body {
  background-color: #f7f7f9;
}

.bodyMainpages {
  display: flex;
}

.mainpagesRightSide {
  width: 100%;
}

.start-logo {
  position: absolute;
  left: 70px;
  top: 70px;
  background: url(/assets/img/favicon_dark.svg) no-repeat;
  height: -webkit-fill-available;

}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.form-box {
  position: relative;
  width: 400px;
  padding: 30px 0px 30px 0px;
  background: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h1::after {
  content: "";
  background-color: #29abe2;
  width: 5rem;
  height: 0.2rem;
  display: block;
  margin: 0.75rem auto;
}

.inputbox {
  width: 100%;
  border: 2px solid #80808040;
  border-radius: 6px;
  font-size: 15px;
  padding: 6px;
  margin: 15px;
  color: #80808040;
  display: flex; /* um das icon rechts zu halten */

}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

.person {
  background-image: url(/assets/img/person.svg);
}

.mail {
  background-image: url(/assets/img/mail.svg);
}

.lock {
  background-image: url(/assets/img/lock.svg);
}

.lock:active,
.lock:focus {
  background-image: url(/assets/img/visibilityoff.svg);
}

.visbility {
  background-image: url(/assets/img/visibility.svg);
}

.visibility-icon img{
  position: absolute;
  right: 56px;
  opacity: 0;
}

.input::placeholder {
  color: #D1D1D1;
  background-size: contain;
  margin-right: 20px;
}

.alert {
  content: "Bitte akzeptieren Sie zuerst die Nutzungsbedingungen"; /* Text, der angezeigt wird */
  position: absolute;
  bottom: 107px;
  color: #FE818F;
  left: 82px;
  font-size: xx-small;
}

/*
** Checkbox 
 */

.checkbox+label {
  display: inline-block;
  width: 24px;
  height: 25px;
  background: url('/assets/img/checkboxDisabled.svg') no-repeat;
  cursor: pointer;
  user-select: none;
}

#checkbox:checked+label {
  background: url('/assets/img/checkboxChecked.svg') no-repeat;
}

.checkbox:hover+label {
  background: url('/assets/img/checkboxDisabledHover.svg') no-repeat;
}

#checkbox:checked:hover+label {
  background: url('/assets/img/checkboxCheckedHover.svg') no-repeat;
}

.position {
  position: relative;
  left: 44px;
}

/* checkbox + text*/

.checkboxText {
  display: flex;
  font-size: smaller;
  align-items: flex-end;
  margin: 21px -11px;

}

.button {
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: all 100ms ease-in-out;
}

.button:active {
  transition: 100ms ease-in-out;
}

.buttonFilled {
  background-color: #2A3647;
  color: white;
  border-style: none;
}

.buttonFilled:hover {
  background: #29ABE2;
}

.buttonFilled:active {
  background: #091931;
}

.button:disabled {
  cursor: not-allowed; 
  background-color: gray; 
}

.button:disabled::after {
  display: block;
  font-size: 12px;

  margin-top: 5px;
}


/*a*/

a {
  text-decoration: none;
  color: #A8A8A8;
}

a:hover {
  color: #29ABE2;;
}

.underline {
  margin: 0;
  font-size: unset;
}

.underline:hover {
  text-decoration: underline;
  font-weight: 100;
}

footer {
  text-align: center;
}


.signupMaskBG{
  position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
}

.signupMask {
  position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
    z-index: 1000;
    width: 400px;
    padding: 24px;
    line-height: 1.5715;
  }
  
 /* background-size: contain; */