.dNone{
  display: none !important;
}

body {
  background-color: #f7f7f8;
  overflow: hidden;
}

.bodyMainpages {
  display: flex;
}

.mainpagesRightSide {
  width: 100%;
  height: 100vh;
}

.mainMainpages{
  position: relative;
}

.mainMainpagesPaddingDefault{
  padding-top: 110px;
  padding-left: 96px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  box-sizing: border-box;
  user-select: none;
}

h1 {
  font-size: 61px;
}

h3{
  font-size: 27px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 16px;
}
/*checkbox*/

.checkbox+label {
  display: inline-block;
  width: 24px;
  height: 25px;
  background: url('../assets/img/checkboxDisabled.svg') no-repeat;
  cursor: pointer;
}

.checkbox:checked+label {
  background: url('../assets/img/checkboxChecked.svg') no-repeat;
}

.checkbox:hover+label {
  background: url('../assets/img/checkboxDisabledHover.svg') no-repeat;
}

.checkbox:checked:hover+label {
  background: url('../assets/img/checkboxCheckedHover.svg') no-repeat;
}

/*button*/
button:hover{
cursor: pointer;
}

.button {
  padding: 6px 12px 6px 12px;
  font-size: 16px;
}

.button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: all 100ms ease-in-out;
}

.button:active {
  transition: 100ms ease-in-out;
}

.buttonFilled {
  background-color: #2A3647;
  color: white;
  border-style: none;
}

.buttonFilled:hover {
  background: #29ABE2;
}

.buttonFilled:active {
  background: #091931;
}

.buttonEmpty {
  border: 1px solid #2A3647;
  color: #2A3647;
  background: none;
}

.buttonEmpty:hover {
  border: 1px solid #29ABE2;
  color: #29ABE2;
  background: none;
}

.button:hover a {
  color: #29ABE2;
}

/*a*/
a {
  text-decoration: none; 
  color: #2A3647;
}

/*informationsIndipendent*/

.informationsIndipendent{
  display: flex;
  top: 0 !important;
}

/*overlays*/
.overlayBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 36;
  background: rgba(0, 0, 0, 0.4);
}

@keyframes addOverlay {
  0% {
    transform: translate(100vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

@media (max-width: 945px){
  .mainMainpagesPaddingDefault{
    padding-top: 10px;
    padding-left: 8px;
  }
}