.headlineSummary{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.verticalLineBlue{
    height: 59px;
    width: 2px;
    border: 1.5px solid #29ABE2;
    background-color: #29ABE2;
    border-radius: 1.5px;
    margin: 0 30px;
}

.keyMetrics{
    font-size: 27px;
    color: #2A3647;
}

.summaryContent{
    margin-top: 55.5px;
    display: flex;
    align-items: center;
}

.overviewSummary{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.lineOverviewSummary{
    /* width: 560px;
    height: 168px; */
}

.overviewNumberTasks{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    /* height: 168px; */
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.overviewNumberTasks:hover{
    transition: all 80ms ease-in-out;
    /* height: 184px;  andere höhenlösung mit Padding vielleicht*/ 
    background-color: #2A3647;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.overviewNumberTasks:hover > .grayCircleIcon{
    background-color: white;
}

.overviewNumberTasks:hover .grayCircleIcon .pathFill{
    fill: #2A3647;
}

.overviewNumberTasks:hover .grayCircleIcon path{
    stroke: #2A3647;
}


.overviewNumberTasks:hover span{
        color: white;
}

.overviewNumberTasks:active{
    transition: all 100ms ease-in-out;
    height: 168px;
    background-color: #F9F9F9;
}

.overviewNumberTasks:active > .grayCircleIcon{
    background-color: #2A3647;
}

.overviewNumberTasks:active .grayCircleIcon .pathFill{
    fill: white;
}

.overviewNumberTasks:active .grayCircleIcon path{
    stroke: white;
}

.overviewNumberTasks:active .numberTasks span:nth-child(1){
        color: black;
}

.overviewNumberTasks:active .numberTasks span:nth-child(2){
    color: #2A3647;
}

.numberTasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberDisplayed{
    font-size: 64px;
    font-weight: 600;
    color: black;
}

.numberDisplayedDeclarationFirstAndThirdLine{
    font-size: 20px;
    color: #2A3647;
}

/*first line overview*/
.firstAndThirdLineOverviewSummary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vmin;
}

.firstLineOverviewSummary a{
        gap: 18px;
        /* width: 264px; */
}

.firstLineOverviewSummary a:hover{
    /* width: 282.5px; Padding lösung??*/
}

.firstLineOverviewSummary a:active{
    width: 264px;
}

.grayCircleIcon{
    width: 69px;
    height: 69px;
    background-color: #2A3647;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*second line*/
.secondLineOverviewSummary{
    max-width: 560px;
}

.secondLineOverviewSummary:hover{
    max-width: 576px;
}

.overviewSummary:has(.secondLineOverviewSummary:hover) {
    gap: 20px;
    transition: 80ms ease-in-out;   
}

.secondLineOverviewSummary:hover .deadline{
    color: white;
}

.secondLineOverviewSummary:active{
    width: 560px;
}

.secondLineOverviewSummary:active .deadline{
    color: #2A3647;
}

.secondLineOverviewSummaryLeftSide{
    display: flex;
    align-items: center;
    gap: 19px;
}

.redCircleIcon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FF3D00;
    padding-top: 16.05px;
    padding-left: 12.56px;
}

.numberDisplayedDeclarationSecondLine{
    font-size: 16px;
    color: #2A3647;
}

.numberDisplayedDeclarationSecondLine:visited{
    color: #2A3647;
}

.verticalLineGray{
    height: 102.02px;
    width: 2px;
    border: 1px solid #D1D1D1;
    background-color: #D1D1D1;
    border-radius: 1px;
    margin: 0 61px 0 62px;
}

.deadline{
    gap: 13px;
    color: #2A3647;
    display: flex;
    flex-direction: column;
}

.dateDeadline{
    font-weight: 700;
    font-size: 21px;
}

.upcomingDeadline{
    font-size: 16px;
}

/*.numberDisplayedDeclarationSecondLine:visited {
    color: #2A3647;
}

/*third line*/
.overviewNumberTasksThirdLine{
    flex-direction: column;
    width: 168px;
    text-align: center;
}

.overviewNumberTasksThirdLine:active span:nth-child(1){
    color: black;
}

.overviewNumberTasksThirdLine:active span:nth-child(2){
    color: #2A3647;
}

.greeting{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.greetingCurrent{
    font-weight: 500;
    font-size: 47px;
    color: #2A3647;
}

.greetingName{
    font-weight: 700;
    font-size: 64px;
    color: #29ABE2;
}

@media (max-width: 1170px){
    .summaryContent{
        margin-top: 0;
        display: flex;
        align-items: flex-start;
        padding-bottom: 16px;
     }

     .overviewNumberTasks{
        height: min-content;
        padding: 25px 50px;
     }
}

@media (max-width: 945px){
    .greeting{
        position: absolute;
        display: flex;
        height: 100svh;
        width: 103vw;
        justify-content: center;
        align-items: center;
        margin: -19svh 0 0 -3vw;
        animation: fade 1.75s ease-in-out 0.5s;
        animation-fill-mode: forwards;
        background-color: #f7f7f8;
    }
    
    @keyframes fade {
        0%{
            opacity: 1;
    }
        100%{
            opacity: 0;
            display: none;
        }
    }
}

@media (max-height: 890px){
    .mainMainpagesPaddingDefault{
        padding-top: 2svh;
        padding-left: 7vw;
        overflow: auto;
        height: 78vh;
        height: calc(-96px + 95vh - 42px);
    
    }
}

@media (max-width: 640px) {
    .verticalLineBlue{
        display: none;
    }

    .horizonalLineBlue{
        height: 2px;
        width: 124px;
        border: 1.5px solid #29ABE2;
        background-color: #29ABE2;
        border-radius: 10px;
        margin: 32px 0px;
    }

    .headlineSummary{
        display: unset;
    }

    .overviewNumberTasks{
        padding: 25px 0;
        width: fit-content;
    }
}

@media (max-width: 400px){
    .verticalLineGray{
        margin: 0 30px 0 30px;
    }

    .overviewNumberTasks{
        padding: 25px 4px;
    }
}
