/*menu*/

.menu {
    width: 232px;
    background-color: #2A3647;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoMenu {
    width: 100.03px;
    height: 121.97px;
    margin: 64px 65.98px 114.2px 65.93px;
}

.menuItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuItem {
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.menuItemHoveringPossible:hover {
    transition: all 100ms ease-in-out;
    background-color: #2A3D59;
}

.menuItemActicePage {
    background-color: #091931;
    color: white;
}

.imgMenuItemActicePage {
    filter: grayscale(100%) brightness(200%);
}

.menuItem div {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 8px 8px 56px;
}

.menuItemseLegally {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 0 64px 0px;
}

.menuItemseLegally > a,
.menuItemseLegally > span{
    height: 35px;
    width: 100%;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menuItemseLegally span {
    color: #A8A8A8;
}

.menuItemseLegallySpan:hover {
    color: #29ABE2;
    font-weight: 700;
    cursor: pointer;
}

/*menu info pages*/
.menuItemseLegally a {
    color: #A8A8A8;
}

/*header*/

header {
    height: 96px;
    padding: 20px 40px 20px 48px;
    width: calc(100vw - 232px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #0000001A;
    position: relative;
    z-index: 35;
}

.logoMenuResponsive{
    width: 32px;
    height: 39.02px;
    display: none;
}

header h4 {
    font-size: 20px;
    font-weight: 400;
}

.headerElementsRight {
    display: flex;
    align-items: center;
    gap: 12px;
}

.help {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help img {
    height: 20px;
    width: 20px;
}

.help img:hover {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.cicleInitials {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 3px solid #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #29ABE2;
    font-size: 18px;
    font-weight: 700;
}

.cicleInitials:hover {
    background-color: #E2E6EC;
    cursor: pointer;
}

/*menu right*/

.subMenu {
    background-color: #2A3647;
    width: 150px;
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    top: 96px;
    right: 20px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 50;
}

@media (max-width: 1170px){
    .subMenu {
    top: 80px;
    }
}

.subMenu span {
    padding: 13.5px 0px 13.5px 16px;
    color: #CDCDCD;
}

.subMenu span:hover {
    cursor: pointer;
}

.helpInSubMenu{
    display: none;
}

.subMenu a {
    padding: 13.5px 0px 13.5px 16px;
    color: #CDCDCD;
}

.subMenu a:hover {
    cursor: pointer;
}

/*privacy policy*/

.informations {
    flex-direction: column;
    position: absolute;
    height: calc(100dvh - 96px);
    width: calc(100vw - 232px);
    z-index: 30;
    top: 96px;
    background-color: #F6F7F8;
    padding-right: 96px !important;
}

.informationsTemplate{
    display: none;
}

.headlineAreaInformations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1016px;
    margin-bottom: 32px;
}

.h3PrivacyPolicy{
    margin-bottom: 10px;
}

.h4PrivacyPolicy{
    margin-bottom: 10px;
    font-size: 22px;
}

.h5PrivacyPolicy{
    margin-bottom: 6px;
    font-size: 18px;
}

.arrowBack {
    margin-top: 1px;
    border-radius: 50%;
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url('../assets/img/arrow-left-line.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.arrowBack:hover {
    background-image: url('../assets/img/arrowLeftLineHover.svg');
}

.textPrivacyPolicy{
    margin-bottom: 35px;
}

/*legal notice*/
.textInformations{
    max-width: 1014px;
    height: 943px;
    overflow: scroll;
    scrollbar-width: none;
    text-align: justify;
}

.textInformations::-webkit-scrollbar {
    display: none;
  }

.h3LegalNoticeAndHelp{
    margin-bottom: 16px;
}

.textInformations p,
.textInformations ul{
    margin-bottom: 24px;
}

.textInformations span{
    color: #29ABE2;
}

.textInformations ul{
    margin-left: 26px;
}

/*help page*/

.olHelp li::marker {
    font-size: 27px;
    font-weight: 700;
}

.olHelp{
    margin-left: 31px;
}

.olHelp h5,
.olHelp p{
    margin-left: 25px;
}

/*mobile menu*/

.mobileMenu{
    width: 100vw;
    background: #2A3647;
    color: beige;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: fixed;
    transition: all 175ms ease-in-out;
    bottom: -12dvh;
    z-index: 100;
}

@media (max-width: 1170px){
    header{
        width: 100vw;
        height: 80px;
    }

    .informationsTemplate{
        top: 80px;
        height: calc(100dvh - 152px);
    }

    .logoMenuResponsive{
        display: block;
    }
    
    .h4Header{
        display: none;
    }

    .help{
        display: none;
    }

    .cicleInitials{
        height: 40px;
        width: 40px;
    }

    .initials{
        font-size: 14px;
    }
    
    .helpInSubMenu{
        display: block;
    }

    .menu {
        display: none;
    }

    .mobileMenu{
        bottom: 0px;
        height: 80px;
        align-items: center;
    }

    .mobileDiv{
        display: flex;
        flex-direction: column;
    }
    .mobileIcon{
        height: 40px;
    }
    .mobileMenu a{
        color: white !important;
        padding: 1vmax;
        border-radius: 10px;
    }

    .mobileMenu a:hover{
        background:#091931b0;
    }

    .mobileMenu a:active{
        background: #091931;
    }

    .informations{
        width: 100vw;
    }
}


.statusGroup{
    height: 72dvh;
}

@media(max-width: 1440px){
    
    
    .statusGroup{
        height: auto;
        display: flex;
        flex-direction: column;
    }
 
    .headlineAreaInformations{
        max-width: 100vw;
    }

    .informations{
        padding-right: 16px;
    }
}

@media(max-width: 700px){
    .informations{
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media(max-width: 470px){
    header{
        padding-left: 16px;
        padding-right: 20px;
    }
}