/*menu*/

.menu{
    width: 232px;
    background-color: #2A3647;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoMenu{
    width: 100.03px;
    height: 121.97px;
    margin: 64px 65.98px 114.2px 65.93px;
}

.menuItems{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuItem{
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.menuItemHoveringPossible:hover{
    transition: all 100ms ease-in-out;
    background-color: #2A3D59;
}

.menuItemActicePage{
    background-color: #091931;
    color: white;
}

.imgMenuItemActicePage{
    filter: grayscale(100%) brightness(200%);
}

.menuItem div{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 8px 8px 56px;
}

.menuItemseLegally{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 74px 60px;
}

.menuItemseLegally a{
    color: #A8A8A8;
}

.menuItemseLegally a:hover{
    color: #29ABE2;
    font-weight: 700;
}

/*header*/

header{
    min-height: 96px;
    padding: 20px 40px 20px 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #0000001A;
}

header h4{
    font-size: 20px;
    height: 24px;
    font-weight: 400;
}

.headerElementsRight{
    display: flex;
    align-items: center;
    gap: 12px;
}

.help{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help img{
    height: 20px;
    width: 20px;
}

.help img:hover{
    height: 24px;
    width: 24px;
}

.cicleInitials{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 3px solid #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#29ABE2;
    font-size: 18px;
    font-weight: 700;
}

.cicleInitials:hover{
    background-color: #E2E6EC;
}

/*menu right*/

.subMenu{
    background-color: #2A3647;
    width: 150px;
    height: 158px;
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    top: 0px;
    right: 20px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.subMenu a{
    padding: 13.5px 0px 13.5px 16px;
    color: #CDCDCD;
}

.subMenu a:hover{
    
}



