*{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.checkbox {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('assets/img/checkboxDisabled.svg') no-repeat;
    cursor: pointer; /* Hinzugefügt, damit der Cursor auf Pointer geändert wird, um anzuzeigen, dass es klickbar ist */
}

#checkbox:checked + .checkbox {
    background: url('assets/img/checkboxChecked.svg') no-repeat;
}

.checkbox:hover {
    background: url('assets/img/checkboxDisabledHover.svg') no-repeat;
}

#checkbox:checked + .checkbox:hover {
    background: url('assets/img/checkboxCheckedHover.svg') no-repeat;
}

.checkbox img {
    vertical-align: middle; /* Ändere die vertikale Ausrichtung der Grafik */
}


.button{
    background-color: #2A3647;
    color: white;
    border-style: none;
    min-width: 99px;
    min-height: 48px;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    font-size: 16px;

}

.button:hover{
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 100ms ease-in-out;
}

.button:active{
    background: #091931;
    transition: 100ms ease-in-out;
}