<header>
    <img class="logoMenuResponsive" src="./assets/img/favicon_dark.svg" alt="Join">
    <h4 class="h4Header">Kanban Project Management Tool</h4>
    <div class="headerElementsRight">
        <div id="divHelpQuestionMark" class="help" onclick="openHelp()">
            <img src="./assets/img/help.svg" alt="Fragezeichen">
        </div>
        <div class="cicleInitials" onclick="openAndCloseSubMenu(this), stayOpenOrActiv(event)">
            <span id="initialsHeader" class="initials"></span>
        </div>
    </div>
</header>