<div class="menu">
    <div>
         <div>
             <img class="logoMenu" src="./assets/img/logoBright.svg" alt="Logo Join">
         </div>
     </div>
    <div class="menuItemseLegally">
        <a id="menuPointPrivacyPolicy" href="/privacyPoliceIndipendentPage.html">
            <span id="menuItemseLegallySpanPrivacyPolicy" class="menuItemseLegallySpan">Privacy Policy</span>
        </a>
        <a id="menuPointLegalNotice" href="/legalNoticeIndependentPage.html">
            <span id="menuItemseLegallySpanLegalNotice" class="menuItemseLegallySpan">Legal notice</span>
        </a>
    </div>
 </div>  