<div class="menu">
   <div>
        <div>
            <img class="logoMenu" src="./assets/img/logoBright.svg" alt="Logo Join">
        </div>
        <div class="menuItems">
            <div class="menuItem">
                <div>
                    <img src="./assets/img/summary.svg">
                </div>
                <span>Summary</span>
            </div>
            <div class="menuItem">
                <div>
                    <img src="./assets/img/addtask.svg">
                </div>
                <span>Add Task</span>
            </div>
            <div class="menuItem">
                <div>
                    <img src="./assets/img/board.svg">
                </div>
                <span>Board</span>
            </div>
            <div class="menuItem">
                <div>
                    <img src="./assets/img/contacts.svg">
                </div>
                <span>Contacts</span>
            </div>
        </div>
    </div>
   <div class="menuItemseLegally">
    <span>Privacy Policy</span>
    <span>Legal notice</span>
   </div>
</div>