<div class="menu">
   <div>
        <div>
            <img class="logoMenu" src="./assets/img/logoBright.svg" alt="Logo Join">
        </div>
        <div class="menuItems">
            <a class="menuItem menuItemActicePage" id="menuItemSummary" href="./summary.html">
                <div>
                    <img src="./assets/img/summary.svg">
                </div>
                <span>Summary</span>
            </a>
            <a class="menuItem menuItemHoveringPossible" id="menuItemAddTask" href="./addTask.html">
                <div>
                    <img src="./assets/img/addTask.svg">
                </div>
                <span>Add Task</span>
            </a>
            <a class="menuItem menuItemHoveringPossible" id="menuItemBoard" href="./board.html">
                <div>
                    <img src="./assets/img/board.svg">
                </div>
                <span>Board</span>
            </a>
            <a class="menuItem menuItemHoveringPossible" id="menuItemContacts" href="./contacts.html">
                <div>
                    <img src="./assets/img/contacts.svg">
                </div>
                <span>Contacts</span>
            </a>
        </div>
    </div>
   <div class="menuItemseLegally">
        <span onclick="openPrivacyPolicy()">Privacy Policy</span>
        <span>Legal notice</span>
   </div>
</div>  