<div class="menu">
   <div>
        <div>
            <img class="logoMenu" src="./assets/img/logoBright.svg" alt="Logo Join">
        </div>
        <div>
            <div class="menuItem">
                <img src="./assets/img/summary">
                <span>Summary</span>
            </div>
            <div class="menuItem">
                <img src="./assets/img/">
                <span></span>
            </div>
            <div class="menuItem">
                <img src="./assets/img/">
                <span></span>
            </div>
            <div class="menuItem">
                <img src="./assets/img/">
                <span></span>
            </div>
        </div>
    </div>
   <div></div>
</div>