<div class="mobileMenu">
  <a href="./summary.html">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/summary.svg" alt="menuItemSummary" />
      <span>Summary</span>
    </div>
  </a>
  <a href="./addTask.html">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/addtask.svg" alt="menuItemAddTask" />
      <span>Add Task</span>
    </div>
  </a>
  <a href="./board.html">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/board.svg" alt="menuItemBoard" />
      <span>Board</span>
    </div>
  </a>
  <a href="./contacts.html">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/contacts.svg" alt="menuItemContacts" />
      <span>Contact</span>
    </div>
  </a>
</div>