<div class="mobileMenu">
  <a href="./summary.html">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/summary.svg" alt="menuItemSummary" />
    </div>
    <span>Summary</span>
  </a>
  <a href="./addTask.html">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/addTask.svg" alt="menuItemAddTask" />
    </div>
    <span>Add Task</span>
  </a>
  <a href="./board.html">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/board.svg" alt="menuItemBoard" />
    </div>
    <span>Board</span>
  </a>
  <a href="./contacs.hmtl">
    <div class="mobileDiv" >
      <img class="mobileIcon" src="./assets/img/board.svg" alt="menuItemContacts" />
    </div>
    <span>Contact</span>
  </a>
</div>