<!-- ./assets/templates/userContentTemplate.html -->
<div class="displayFlex">
    <div class="bigCircle bgColorCircleBig ellipse" id="bigCircle" style="background-color: {{color}};">
        <div class="initialBig" id="initialBig">{{initials}}</div>
    </div>
    <div class="userContainerBig">
        <p class="nameBig" id="name{{id}}">{{name}}</p>
    </div>
</div>
<div class="userContactBig">
    <p>Contact information</p>
    <h6>Email</h6>
    <div class="email">{{email}}</div>
    <h6>Phone</h6>
    <div class="name" id="name{{id}}">{{phone}}</div>
</div>
